name: Testing stuff2

on:
  push:
    branches:
      - master

jobs:
  a_test_job:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: commits
        env:
          COMMITS: ${{ toJson(github.event.commits) }}
        run: echo "$COMMITS"
      - name: commit messages 2
        env:
          # COMMIT_MESSAGES: ${{ toJson(github.event.commits.*.message) }}
          # JONO: ${{ join($COMMIT_MESSAGES) }}
          JONO: join(${{ toJson(github.event.commits)}})
        run: echo "$JONO"
        